:root {
  --main: #131313;
  --pink: #c13ccf;
  --yellow: rgb(236, 255, 139);
  --gray: #F4F4F4;
  font-family: 'Eina';
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--main);
  overflow-x: hidden;
}

#root {
  position: relative;
  max-width: 1440px;
  overflow-x: hidden;
  padding: 0 32px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    height: 100%;
    width: 64px;
    background: rgb(19, 19, 19);
    background: linear-gradient(90deg, rgba(19, 19, 19, 1) 0%, rgba(19, 19, 19, 0) 100%);
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -4px;
    height: 100%;
    width: 64px;
    background: rgb(19, 19, 19);
    background: linear-gradient(90deg, rgba(19, 19, 19, 1) 0%, rgba(19, 19, 19, 0) 100%);
    z-index: 2;
    transform: rotate(180deg);
  }
}

@font-face {
  font-family: 'Eina';
  src: url('/public/fonts/Eina03-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Eina';
  src: url('/public/fonts/Eina03-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Eina';
  src: url('/public/fonts/Eina03-Bold.ttf');
  font-weight: 700;
}

.container {
  max-width: 1400px;
  padding: 0 64px;
  margin: 0 auto;
}

a {
  text-decoration: none;

}

@media screen and (max-width: 550px) {
  #root {
    padding: 0 16px;
  }

}